::-webkit-scrollbar {
	width: 5px;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: black ;
}

:root {
	--viewport-height: 100vh;
	--header-height: 55px;
	--header-bg: rgb(220, 220, 220);
}

/*------------------- themes -------------------*/


html.LightMode {
	filter: invert(.05);
}

html.NightMode {
	filter: invert(.95);
	background-color: rgb(200, 200, 200);
}

@media (prefers-color-scheme: light) {
	html.AutoMode {
		filter: invert(.05);
	}
}

@media (prefers-color-scheme: dark) {
	html.AutoMode {
		filter: invert(.95);
		background-color: rgb(200, 200, 200);
	}
}

*,
body,
*:after,
*:before {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: #00000000;
	font-family: 'Quicksand', sans-serif;
}   

html,
body,
header {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	user-select: none;
}

button {
	cursor: pointer;
	user-select: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	display: flex;
}

button:active {
	transform: scale(0.95);
}

a {
	text-decoration: none;
	color: black;
}

header {
	height: var(--header-height);
	position: fixed;
	border-bottom: 2px solid black;
	background-color:var(--header-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

header a {
	display: flex;
}

header h1 {
	margin: 0 10px;
}

header .tools-blok {
	display: flex;
	align-items: center;
}

header img {
	width: 40px;
	height: 40px;
	margin: 0 10px;
}

header .user-select span, select{
	font-size: 1.3rem;
}

header .user-select select{
	background-color: var(--header-bg);
	border-radius: 5px;
}

section {
	width: 100%;
	overflow-y: scroll;
	margin-top: var(--header-height);
	height: calc(var(--viewport-height) - var(--header-height));
}

/*---------- settings-blok ----------*/

.settings-blok.open {
	transform: translateY(0);
}

.settings-blok {
	top: 0;
	right: 0;
	border: 2px solid black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: var(--header-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	width: fit-content;
	margin-top: var(--header-height);
	margin-right: 5px;
	position: absolute;
	transform: translateY(-100%);
	transition: 0.2s ease-out;
	z-index: 1;
}

.settings-blok img {
	width: 45px;
	height: 45px;
	margin: 2px;
}

.settings-blok button {
	margin: 2px;
	border-radius: 7px;
}

.settings-blok button.selected {
	border: 2px solid black;
}

.settings-blok button.selected img{
	width: 43px;
	height: 43px;
}

.elements-view, .theme-selector {
	display: flex;
}

section .wrapper{
	margin: 25px;
	width: calc(100% - 50px);
	display: grid;
	grid-gap: 25px;
}

.box {
	height: 250px;
	border: 2px solid black;
	border-radius: 20px;
	background-color: var(--header-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	cursor: pointer;
}

.box:active{
	transform: scale(0.98);
}

.back-button {
	display: none;
}

/*------------------- table -------------------*/

.answers__wrapper {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
}

p.answers__number {}
/* текст з номером білету, щоб змінити клас(тег) зайди в main.js 102 рядок */


.container {
	margin: 30px auto;
 	width: 80vw;
}

.container h3 {
	margin-bottom: 10px;
}

table {
	width: 100%;
	margin-bottom: 20px;
	table-layout: fixed;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	text-align: center;
}

th {
    background: var(--header-bg);
}

td {
	padding: 5px 0;
}

/* текст, який виводиться, коли користувач вводить неправильний білет, щоб змінити клас(тег) зайди в main.js 102 рядок */
h2.warning {}

.search {}
/* кнопка пошуку */

#confirmPDR {}

#confirmPhysics {}

.confirm-btn {}
/* кнопки підтвердження запиту */

/*------------------- adaptation -------------------*/



@media (max-width: 500px) {
	:root {
		--viewport-height: 93vh;
	}
}

@media (max-width: 385px) {
	:root {
		--header-height: 75px;
	}
}

@media (max-width: 2300px){
	section .wrapper{
		grid-template: repeat(auto-fit, 250px) / repeat(6, 1fr);
	}
}

@media (max-width: 1975px){
	section .wrapper{
		grid-template: repeat(auto-fit, 250px) / repeat(5, 1fr);
	}
}

@media (max-width: 1650px){
	section .wrapper{
		grid-template: repeat(auto-fit, 250px) / repeat(4, 1fr);
	}
}

@media (max-width: 1325px){
	section .wrapper{
		grid-template: repeat(auto-fit, 250px) / repeat(3, 1fr);
	}
}

@media (max-width: 1000px){
	section .wrapper{
		grid-template: repeat(auto-fit, 250px) / repeat(2, 1fr);
	}
}

@media (max-width: 675px){
	section .wrapper{
		grid-template: repeat(auto-fit, 250px) / repeat(1, 1fr);
	}
}